/*
CSS for website
Hex colors selected
1--black-coffee: #3c3744;
2--duke-blue: #090c9b;
3--true-blue: #3066be;
4--light-steel-blue: #b4c5e4;
5--ivory: #fbfff1;

LIGHT MODE:
1--ivory: #fbfff1;
2--light-steel-blue: #b4c5e4;
3--true-blue: #3066be;
4--duke-blue: #090c9b;
5--black-coffee: #3c3744;
*/

/* Styling for most of main part, including form and text, overwritten when necessary */
main {
  background-color: #3c3744;
  color: #fbfff1;
  padding: 1%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-break: loose;
}

/* Styling for Header 1 */
h1 {
  font-size: 3.3em;
  font-variant: normal;
  font-weight: 900;
  color: #b4c5e4;
}

/* Styling for Header 2 */
h2 {
  font-size: 1.5em;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
}

/* Styling for Header 3 */
h3 {
  font-size: 32px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
}

/* Styling for form text */
input[type="number"],
select,
input[type="text"] {
  background-color: #fbfff1;
  color: #090c9b;
  border: 1px solid #3066be;
  font-size: 16px;
  width: fit-content;
  padding: 2px 8px;
  box-sizing: border-box;
}

/* Styling for form buttons */
input[type="button"],
input[type="submit"],
button {
  background-color: #3066be;
  color: #fbfff1;
  display: block;
  font-size: 16px;
  width: fit-content;
  padding: 2px 8px;
  box-sizing: border-box;
}

/* Styling for Paragraphs and form labels */
p,
label {
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
}

/* Styling for Sections */
section {
  border-bottom: 2px solid #3066be;
  padding: 1%;
}

/* Styling for footer */
footer {
  color: #b4c5e4;
  font-size: 18px;
  padding: 1%;
  text-align: center;
}

/* Administration Link in Footer */
footer a {
  color: #fff;
  font-size: 0.8em;
}

/* Formatting each line of the input currency form */
.form-line {
  margin: 1em 0;
}

/* Country List Button */
#btn-country-list {
  display: inline-block;
  margin: 15px 15px 0;
}

/* back drop */
.modal-box {
  display: none;
  position: fixed;
  color: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: none;
  background-color: #0009;
}

/* modal box */
#modal-content-box {
  background-color: #bcc0f0;
  margin: 5% auto;
  padding: 20px;
  width: max-content;
  border: 1px solid black;
}

#modal-content {
  margin-right: 30px;
}

.modal-close {
  float: right;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  text-decoration: none;
  cursor: pointer;
}

/* element created in modal.js */
.model-country-div {
  display: flex;
  justify-content: baseline;
  margin: 15px 0;
}

/* element created in modal.js */
.modal-flags {
  margin: 0 15px;
  height: 22px;
  width: 40px;
}

/* Contact Admin modal box */
#contact-admin-container {
  margin-top: 15px;
}

#contact-admin-container input[type="text"],
#contact-admin-container textarea {
  display: block;
  margin-bottom: 10px;
  width: 300px;
}

#contact-admin-container textarea {
  height: 140px;
}

/* Original Currency Country and Type */
#original-currency-name {
  display: inline-block;
}

/* Initially Hide Fields */
#input-convert-to-country-div,
#btn-submit {
  display: none;
}

#btn-submit,
#btn-reset {
  margin-bottom: 15px;
}

/* Adjust the Result Values to Better Display The Number Values */
#converted-results {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  display: none;
}

/* Results Data fields */
#results-data-container-original,
#results-data-container-converted {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid #2e4874;
  background-color: #2f2b35;
}

.results-data-card {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.results-heading {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 5px;
}

.results-text {
  font-size: 1em;
}

.results-amount {
  font-size: 2em;
  font-weight: bold;
}

#new-currency-banks {
  display: none;
  margin: 20px 0;
}

#conversion-tables {
  display: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

#conversion-table-one, 
#conversion-table-two {
  overflow-y: auto;
}

table {
  border: 2px outset white;
  border-radius: 10px;
  border-spacing: 0;
  width: 100%;
}

th, 
td {
  border: 2px outset white;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}

th img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.column {
  flex: 100%;
  padding: 5px;
}

/* Responsive design for cell phones */
@media only screen and (max-width: 600px) {
  /* Form Input Fields */
  input[type="number"],
  select,
  input[type="text"] {
    font-size: 1.2em;
    height: 2.5em;
    margin-top: 5px;
    width: 100%;
  }

  /* Form Buttons */
  input[type="submit"],
  input[type="button"],
  button {
    margin: 0 auto;
    font-size: 1.8em;
    width: 80%;
  }

  /* Container that holds the Country List Button */
  #country-list-container {
    text-align: center;
    margin: 20px 0;
    width: 100%;
  }

  /* dark-light-mode button */
  #btn-dark-light-mode {
    font-size: 1.6em;
    margin-bottom: 20px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }
}
