/*
CSS for website
Hex colors selected
1--black-coffee: #3c3744;
2--duke-blue: #090c9b;
3--true-blue: #3066be;
4--light-steel-blue: #b4c5e4;
5--ivory: #fbfff1;
*/

/* Styling for most of main part, including form and text, overwritten when necessary */
main {
  background-color: #3c3744;
  color: #fbfff1;
  padding: 1%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-break: loose;
}

/* Styling for Header 1 */
h1 {
  font-size: 52px;
  font-variant: normal;
  font-weight: 900;
  color: #b4c5e4;
}

/* Styling for Header 2 */
h2 {
  font-size: 44px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
}

/* Styling for Header 3 */
h3 {
  font-size: 32px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
}

/* Styling for form text */
input[type="number"],
select {
  background-color: #fbfff1;
  color: #090c9b;
  border: 3px solid #3066be;
  font-size: 16px;
  width: fit-content;
  padding: 2px 8px;
  box-sizing: border-box;
}

/* Styling for submit */
input[type="submit"] {
  background-color: #3066be;
  color: #fbfff1;
  display: block;
  font-size: 16px;
  width: fit-content;
  padding: 2px 8px;
  box-sizing: border-box;
}


/* Styling for form buttons */
input[type="button"] {
  background-color: #3066be;
  color: #fbfff1;
  display: block;
  font-size: 16px;
  width: fit-content;
  padding: 2px 8px;
  box-sizing: border-box;
}

/* Styling for generic buttons */
button {
  background-color: #b4c5e4;
  color: #3c3744;
  display: block;
  font-size: 14px;
  width: fit-content;
  padding: 2px 8px;
  box-sizing: border-box;
}


/* Styling for Paragraphs and form labels */
p,
label {
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
}

/* Styling for Sections */
section {
  border-bottom: 2px solid #3066be;
  padding: 1%;
}

/* Styling for footer */
footer {
  color: #b4c5e4;
  font-size: 18px;
  padding: 1%;
  text-align: center;
}

/* Administration Link in Footer */
footer a {
  color: #fff;
  font-size: 0.8em;
}

/* Styling for table headers */
table th {
  background-color: #090c9b;
  border: 3px solid #3066be;
  font-size: 20px;
  padding: 8px;
}

/* Styling for table cells */
table td {
  background-color: #b4c5e4;
  border: 3px solid #3066be;
  font-size: 18px;
  padding: 8px;
  color: #3c3744;
}

/* Formatting each line of the input currency form */
.form-line {
  margin: 1em 0;
}

/* Country List Button */
#btn-country-list {
  display: inline-block;
  margin: 1em 0;
}

/* back drop */
.modal-box {
  display: none;
  position: fixed;
  color: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: none;
  background-color: #0009;
}

/* modal box */
#modal-content-box {
  background-color: #bcc0f0;
  margin: 5% auto;
  padding: 20px;
  width: 200px;
  border: 1px solid black;
}

.modal-close {
  float: right;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  text-decoration: none;
  cursor: pointer;
}

/* element created in modal.js */
.model-country-div {
  display: flex;
  justify-content: baseline;
  margin: 15px 0;
}

/* element created in modal.js */
.modal-flags {
  margin: 0 15px;
  height: 22px;
  width: 40px;
}

/* Original Currency Country and Type */
#original-currency-name {
  display: inline-block;
}

/* Initially Hide Fields */
#input-convert-to-country-div,
#btn-submit,
#converted-results {
  display: none;
}

/* Adjust the Result Values to Better Display The Number Values */
#converted-results {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
